* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
  height: 100vh;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

.navegacao {
  top: 10px;
}

/*Estilos do header*/
.header {
  background-image: url("./assets/images/coffee_image.png");
  background-size: cover; /* Ajusta a imagem para cobrir todo o cabeçalho */
  background-repeat: no-repeat;
  color: #f3e7de;
  font-family: "Clicker Script", cursive;
  width: 100vw;
  height: 768px;
  padding-top: 30px;
}
header nav {
  line-height: 32px;
  font-size: 30px;
  text-align: center;
}
nav > li {
  margin-top: 30px;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  padding: 2px 10px;
}

nav ul li a:hover {
  background-color: #845132;
  color: #f3e7de;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li a:focus {
  text-decoration: underline;
}

.titulo {
  font-size: 130px;
  margin-left: 20px;
  margin-top: 20vh;
}

.header > p {
  font-size: 36px;
  line-height: 1.5;
  text-align: justify;
  width: 50vw;
  margin-bottom: 10px;
  margin-left: 20px;
}

/*Aside de propaganda*/
aside {
  position: fixed;
  top: 50%; /* Ajuste a altura desejada */
  right: 0; /* Fixo na extremidade direita */
  transform: translateY(-50%); /* Centraliza verticalmente */
  width: 80px;
  background-color: #f3e7de;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.propaganda img {
  max-width: 100%;
}

.propaganda p {
  font-size: 10px;
  margin: 10px 0;
}

.propaganda a {
  display: block;
  background-color: #845132;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 10px;
}
/*Estilos da section sobre nós*/
.sobre {
  height: 105vh;
}
.sobre h2 {
  color: #603809;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  padding-top: 20vh;
  margin-left: 40px;
}

.sobre img {
  float: right;
}

.sobre p {
  color: #707070;
  font-family: "Playfair Display", serif;
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  width: 60vw;
  padding-top: 5vh;
  margin-left: 40px;
}

/*Estilos do menu*/

.menu {
  background-color: #f3e7de;
  height: 100%;
}

.menu h2 {
  color: #603809;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  padding-top: 5vh;
  margin-left: 40px;
}
.menuItens {
  display: inline-block;
  text-align: center;
}
.menuItens > article:hover {
  transform: scale(
    1.2
  ); /* Aumenta o tamanho em 20% quando o mouse está sobre o elemento */
  cursor: pointer;
}
.menuItens > article {
  background-color: #f9f9f9;
  background-color: rgb(249, 192, 106, 42%);
  margin: 30px 25px;
  border-radius: 10px;
  padding: 0px;
  margin-bottom: 20px;
  width: 15%;
  display: inline-block;
  text-align: center;
}

.menuItens > article figure {
  margin-bottom: 8px;
}

.menuItens > article figure img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.menuItens > figcaption {
  font-family: "Clicker Script", cursive;
  font-size: 23px;
  font-weight: bold;
}

/*Diferenciais*/
.diferenciais {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.diferenciais > article:hover {
  transform: scale(
    1.2
  ); /* Aumenta o tamanho em 20% quando o mouse está sobre o elemento */
  cursor: pointer;
}

.title-diferenciais {
  color: #603809;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  padding-top: 6vh;
  margin-left: 0px;
}

.diferenciais h2 {
  color: #603809;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  padding-top: 5vh;
  margin-left: 40px;
}

.diferenciais > h3 {
  color: #707070;
  font-size: 20px;
  padding-top: 5vh;
  margin-left: 40px;
}
.diferenciais.supreme {
  background-color: rgb(249, 192, 106, 30%);
}
.normal {
  padding: 0px;
  margin-bottom: 20px;
  width: 15%;
  display: inline-block;
  text-align: center;
  background-color: rgb(249, 192, 106, 15%);
  margin: 30px 25px;
  border-radius: 10px;
}
.supreme {
  padding: 0px;
  margin-bottom: 20px;
  width: 15%;
  display: inline-block;
  text-align: center;
  background-color: rgb(249, 192, 106, 35%);
  margin: 30px 25px;
  border-radius: 10px;
}

.diferenciais > article figure {
  margin-bottom: 8px;
}

.diferenciais > article figure img {
  border-radius: 10px 10px 0 0;
  width: 30%;
  margin-top: 50px;
}
.diferenciais {
  color: #707070;
  font-size: 15px;
  padding-top: 5vh;
  margin-left: 40px;
}

/*Cotação dos cafés*/

.cotacao {
  height: 94vh;
}
.cotacao > h3 {
  color: #603809;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  margin-left: 40px;
}

.cotacao > img {
  float: right;
  width: 30%;
  margin-top: 14vh;
}

.cotacao > table {
  position: absolute;
  width: 70%;
  border-collapse: collapse;
  font-family: "Playfair Display", serif;
  background-color: #f9f6f2;
  border: 2px solid #8b4513;
  margin-top: 50px;
  margin-left: 15%;
}

.cotacao > table th {
  background-color: #8b4513; /* Marrom para o cabeçalho */
  color: #fff; /* Texto branco para o cabeçalho */
  padding: 10px;
  text-align: left;
}

/* Estilo das células da tabela */
.cotacao > table td {
  padding: 10px;
  border: 1px solid #8b4513;
}

/* Estilo de hover para realçar as linhas da tabela */
.cotacao > table tr:hover {
  background-color: #d2b48c; /* Uma cor dourada para realçar quando o mouse passa sobre a linha */
}

/*Formulario*/

.formulario {
  background-image: url("./assets/images/fotter_image\ \(1\).png");
  height: 105vh;
  padding-top: 5vh;
  background-color: rgba(130, 75, 12, 0.971);
  background-size: cover; /* Ajusta a imagem para cobrir todo o cabeçalho */
  background-repeat: no-repeat;
}

.formulario h3 {
  color: #f9f6f2;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  margin-left: 40px;
}
form {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f6f2;
  border: 1px solid #8b4513;
  border-radius: 5px;
}

/* Estilo para rótulos (labels) */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilo para campos de entrada de texto (input) e TextArea */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para o botão de envio (submit) */
button {
  background-color: #8b4513;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para o botão de envio quando o mouse passa por cima (hover) */
button:hover {
  background-color: #45a049; /* Cor de fundo verde mais escura */
}

/*Footer*/

footer {
  height: 50vh;
  padding-top: 0;
  display: block;
  background-image: url("./assets/images/coffee_image.png");
  background-size: cover; /* Ajusta a imagem para cobrir todo o cabeçalho */
  background-repeat: no-repeat;
  color: #f3e7de;
  font-family: "Clicker Script", cursive;

  height: 340px;
  padding-top: 30px;
}

.beans {
  width: 300px;
  margin-left: 30px;
}

.beans > h2 {
  font-size: 60px;

  margin-left: 30px;
  margin-top: 10px;
}

.beans > p {
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
  width: 400px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.container {
  text-align: center;
  float: right;
  margin-top: -270px;
}

.list {
  cursor: pointer;
  width: 100px; /* Ajuste a largura conforme necessário */
  padding: 0;
  margin: 0;

  list-style: none;
  float: right; /* Use 'float' para posicionar as listas lado a lado */
  margin-right: 20px; /* Adicione margem entre as listas conforme necessário */
}

.list > li a:hover {
  background-color: #845132;
  color: #f3e7de;
  border-radius: 5px;
  cursor: pointer;
}
