* {
  font-family: "Roboto", sans-serif;
}

form {
  display: flex;
  flex-direction: row;
  padding: auto;
  margin-bottom: 30px;
}

form > label {
  margin-left: 20px;
  margin-right: 10px;
}

form > button {
  margin-left: 10px;
  margin-right: 10px;
}

.search{
  margin-left: -10px;
 
}

.checked {
  text-decoration: line-through;
}

.close {
  margin-left: 50px;
  cursor: pointer;
  font-size: 24px; /* Define o tamanho da fonte */
  color: #ff0000; /* Define a cor (vermelho, por exemplo) */
  font-weight: bold; /* Define a espessura da fonte como negrito */
  font-family: "Arial", sans-serif; /* Define a família da fonte */
  /* Adicione outras propriedades de estilo conforme necessário */
}
.close:hover {
  text-decoration: underline;
}

.edit {
  font-size: 20px;
  color: #0066cc;
  cursor: pointer;
}

.edit:hover {
  text-decoration: underline;
}

.checkmark {
  color: green;
  cursor: pointer; /* Define a cor do caractere */
  font-size: 23px; /* Define o tamanho da fonte */
  font-family: "Arial", sans-serif;
  font-weight: bold; /* Define a família da fonte */
  /* Outras propriedades de estilo podem ser adicionadas conforme necessário */
}
.checkmark:hover {
  text-decoration: underline;
}
